<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="Tpack.classOne" />
			<class name="Tpack.classeTwo" />
			<class name="Tpack.classThree" />
			<class name="opack.ClassFour" />
			<class name="opack.ClassFive" />
			<class name="opack.ClassSix" />
			<class name="kpack.ClassSeven" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
